<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de conhecimento</title>
</head>
<body>
    <h1>Apresentação</h1>
    <picture>
        <source media="(max-width: 700px)" srcset="../media/image/a.jpg" type="image/jpg">
        <source media="(max-width: 1000px)" srcset="../media/image/b.jpg" type="image/jpg">
        <img src="../media/image/c.jpg" alt="Paulo Bumba" width="300">
    </picture>
    <dl>
        <dt>
            <li>Sobre min :</li>
        </dt>
        <dd>
            <li>Paulo Bumba Estdante do curso de <strong><ins>Ciência da Compuatação</ins></strong> na Unoesc videira apreciador de web e mobile futuramente vejo a caminha primeiro como <mark>Dev FULLSTACK</mark>.</li>
    </dd>

    </dl>

</body>
</html>